*{
    margin: 0;
    padding: 0;
}


#navigation{
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navigation > ul {
    display: flex;
    margin-right: 50px;
}
#navigation > ul > li{
    list-style: none;
    margin: 0px 5px;
    margin-left: -5px;
    padding: 15px 0px;
}
#navigation > ul > li >a{
    text-decoration: none;
    color: azure;
    font-size: 18px;
    border-right: 1px solid white;
    padding: 16px 20px;
    transition: 0.5s;
}
#navigation > ul > li:first-child > a{
    border-left: 1px solid white;
}
#navigation > ul > li:hover > a{
    background-color: goldenrod;
}

#logo > h2{
    color: white;
    margin-left: 15px;
}

/* dropdown menu code start here */
.dropdown{
    opacity: 0;
    visibility: hidden;
    background-color: dodgerblue;
    text-align: center;
    margin-top: 15px;
    width: 187px;
    position: absolute;
    transition: 0.5s;
}
.dropdown > li{
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid white;
}
.dropdown > li:hover{
    background-color: goldenrod;
}
.dropdown > li:first-child{
     border-top: 1px solid white;
}
.dropdown>li>a{
    text-decoration: none;
    color: white;
}
#navigation > ul >li:hover>.dropdown{
    opacity: 1;
    visibility: visible;

}